[v-cloak] {
    display: none !important;
}

.content {
/*   font-family: Playtwo, Playone, monospace !important;*/
}

.post .post_content p{
        margin-bottom: 0px !important;
}

.post .post_footer {
    padding: 10px 0px 5px 0px;
    border: 0;
}

 .momentsa{
     border-radius: 5px;
     margin: 0px 2px 0px 2px;
     width: calc(100%/6 - 4px);
     aspect-ratio: 1 ;
     vertical-align: bottom;
}
 .single-momentsa{
     border-radius: 5px;
     margin: 2px;
     width: calc(50% - 4px);
     aspect-ratio: 1 ;
     max-width: 300px;
     vertical-align: bottom;
}
 .momentsimg{
     border-radius: 5px;
     width: 100% !important;
     aspect-ratio: 1 ;
     object-fit: cover;
}
 .markdown img {
     max-width: 100%;
     height: auto;
     aspect-ratio: 1 ;
}
 .markdown .momentsa{
     line-height: 1em;
}

.indexa {
    border-radius: 5px;
    margin:
        1px 2px;
    width: calc(100%/6 - 4px);
    aspect-ratio: 1;
}

.indeximg {
    border-radius:
        5px;
    width: 100%;
    aspect-ratio: 1;
    object-fit: cover;
    /* height: 100%;*/
    vertical-align: bottom;
}
/*
blockquote::before {
    content: '“';
    display: block;
    font-style: normal;
    font-size: 15px;
    color:
        #444444;
    font-weight: bold;
    line-height: 30px;
    margin-left: -24px;
        margin: 0; 
    padding:0;
 margin-top: -10px;
    position: absolute;
}



.markdown blockquote:before{
       content: '“';
    display: block;
    font-style: normal;
    font-size: 15px;
    color: #444444;
    font-weight: bold;
    line-height: 30px;
    margin-left: -24px;
    padding:0;
    margin-top: -10px;
    position: absolute;
}*/

.blockp {
    /* margin-left: 10px;*/
}


button svg {
    fill: #d5d5d5;
}

.post_footer .meta {
    height: auto;
    color: #bbbbbb;
}



@media screen and (max-width: 900px) {
    .post_footer {
        padding-bottom: 0px;
    }
}


.thoughtsbox {
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
}

.thoughtsbox .thoughtsimg {
    width: 97px;
    height: 97px;
    object-fit: cover;
    padding: 2px;
    border-radius: 7px;
    max-width: 100%;
    vertical-align: bottom;
    display: block;
}

.thoughtsbox .aimg {
    min-width: 97px;
    min-height: 97px;
    object-fit: cover;
    padding: 1px;
}

@media screen and (max-width:400px) {
    .thoughtsbox .aimg {
        min-width: 120px;
        min-height: 120px;
        object-fit: cover;
        padding: 1px;
    }

    .thoughtsbox {
        display: flex;
        flex-wrap: wrap;
        overflow: hidden;
    }

    .thoughtsbox .thoughtsimg {
        width: 120px;
        height: 120px;
        object-fit: cover;
        padding: 2px;
        border-radius: 7px;
        max-width: 100%;
        vertical-align: bottom;
        display: block;
    }
}

@media screen and (max-width:900px) {
    .thoughtsbox .aimg {
        min-width: 120px;
        min-height: 120px;
        object-fit: cover;
        padding: 1px;
    }

    .nav_container .site_nav a {
        font-size: 0.9rem;
    }

    .thoughtsbox {
        display: flex;
        flex-wrap: wrap;
        overflow: hidden;
    }

    .thoughtsbox .thoughtsimg {
        width: 120px;
        height: 120px;
        object-fit: cover;
        padding: 2px;
        border-radius: 7px;
        max-width: 100%;
        vertical-align: bottom;
        display: block;
    }
}

@media screen and (min-width:1600px) {
    .thoughtsbox .aimg {
        min-width: 120px;
        min-height: 120px;
        object-fit: cover;
        padding: 1px;
    }

    .nav_container .site_nav a {
        font-size: 0.9rem;
    }

    .thoughtsbox {
        display: flex;
        flex-wrap: wrap;
        overflow: hidden;
    }

    .thoughtsbox .thoughtsimg {
        width: 120px;
        height: 120px;
        object-fit: cover;
        padding: 2px;
        border-radius: 7px;
        max-width: 100%;
        vertical-align: bottom;
        display: block;
    }
}

.main .content p a {
    text-decoration: none;
    letter-spacing: 1px;
    color: #e42b2b;
}

.post .post_content {
    word-break: normal;
    margin-top: 20px;
}

.main .content p {
    line-height: 1.8em;
    word-wrap: break-word;
    word-break: normal;
    overflow-wrap: break-word;
}