 a:hover{
     color: gray!important;
}
.content {
   font-family: Playtwo, Playone, monospace !important;
}

 .momentsa{
     border-radius: 5px;
     margin: 0px 2px 0px 2px;
     width: calc(100%/6 - 4px);
     aspect-ratio: 1 ;
     vertical-align: bottom;
}
 .single-momentsa{
     border-radius: 5px;
     margin: 2px;
     width: calc(50% - 4px);
     aspect-ratio: 1 ;
     max-width: 300px;
     vertical-align: bottom;
}
 .momentsimg{
     border-radius: 5px;
     width: 100% !important;
     aspect-ratio: 1 ;
     object-fit: cover;
}
 .markdown img {
     max-width: 100%;
     height: auto;
     aspect-ratio: 1 ;
}
 .markdown .momentsa{
     line-height: 1em;
}
 .thoughtsbox{
     display:flex;
     flex-wrap:wrap;
}
 .thoughtsbox .thoughtsimg {
     width: 150px;
     height: 150px;
     object-fit:cover ;
     padding: 2px;
     border-radius: 7px;
     max-width: 100%;
     vertical-align:bottom;
     display: block;
}
 @media screen and (max-width: 700px) {
     .thoughtsbox{
         display:flex;
         flex-wrap:wrap;
    }
     .thoughtsbox .thoughtsimg {
         width: 80px;
         height: 80px;
         object-fit:cover ;
         padding: 2px;
         border-radius: 7px;
         max-width: 100%;
         vertical-align:bottom;
         display: block;
    }
     .momentsa{
         border-radius: 5px;
         margin: 0px 2px 0px 2px;
         width: calc(100%/3 - 4px);
         aspect-ratio: 1 ;
         vertical-align: bottom;
    }
     .single-momentsa{
         border-radius: 5px;
         margin: 2px;
         width: calc(100% - 4px);
         aspect-ratio: 1 ;
         max-width: 100%;
         vertical-align: bottom;
    }
     .momentsimg{
         border-radius: 5px;
         width: 100% !important;
         aspect-ratio: 1 ;
         object-fit: cover;
    }
}
 @media screen and (min-width: 701px) and (max-width: 900px) {
     .nav_container .site_nav a {
         font-size: 0.9rem;
    }
     .thoughtsbox{
         display:flex;
         flex-wrap:wrap;
    }
     .thoughtsbox .thoughtsimg {
         width: 100px;
         height: 100px;
         object-fit:cover ;
         padding: 2px;
         border-radius: 7px;
         max-width: 100%;
         vertical-align:bottom;
         display: block;
    }
     .momentsa{
         border-radius: 5px;
         margin: 0px 2px 0px 2px;
         width: calc(100%/4 - 4px);
         aspect-ratio: 1 ;
         vertical-align: bottom;
    }
     .single-momentsa{
         border-radius: 5px;
         margin: 2px;
         width: calc(50% - 4px);
         aspect-ratio: 1 ;
         max-width: 300px;
         vertical-align: bottom;
    }
     .momentsimg{
         border-radius: 5px;
         width: 100% !important;
         aspect-ratio: 1 ;
         object-fit: cover;
    }
}
 @media screen and (min-width: 1600px) {
     .nav_container .site_nav a {
         font-size: 0.9rem;
    }
     .thoughtsbox{
         display:flex;
         flex-wrap:wrap;
    }
     .thoughtsbox .thoughtsimg {
         width: 150px;
         height: 150px;
         object-fit:cover;
         padding: 2px;
         border-radius: 7px;
         max-width: 100%;
         vertical-align:bottom;
         display: block;
    }
}
 .post .post_content p{
     margin:2px;
     margin-bottom: 10px;
}
 .post .post_footer {
     padding: 10px 0px 5px 0px;
      border: 0;
}
 .post .post_footer .meta{
     height: auto;
}
 