<!doctype html>
<html lang="en">
  <head>
    <title>Diary | 好事发生</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"> 
    <link rel="shortcut icon" type="image/svg+xml" href="data:image/svg+xml,%3Csvg%20xmlns='http://www.w3.org/2000/svg'%20viewBox='0%200%20100%20100'%3E%3Ctext%20y='.9em'%20font-size='90'%3E😂%3C/text%3E%3C/svg%3E">

    <script src="https://lf26-cdn-tos.bytecdntp.com/cdn/expire-1-M/vue/3.2.31/vue.global.min.js" type="application/javascript"></script>
    <style type="text/css">

      *{
        font: 12px Verdana;
        color: #999999;
      }

      pre {
          margin: 1em;
          max-width: 650px;
          background: #ffffff url() fixed;
          padding: 0 20px;
          overflow: hidden;
          text-align: left;
      }

      @media screen and (min-width:120px) and (max-width:450px) {
          pre {
            text-align:left;
            margin: 1em 0.5em;
          }
        }
    </style>
  </head>
  <body>
    <div class="center" align="center">
    <pre id="app" style="word-wrap: break-word;white-space: pre-wrap;display: block;font-family: monospace;">
      <div>日记·來去冰島變成冰</div>
      <div>----------------</div>
      <br>
      <br>
      <br>
      <div v-for="item,index in items">
        <!-- <template  v-if="item.content != '' "> -->
          <div>
            <svg xmlns="http://www.w3.org/2000/svg" height="0.8em" viewBox="0 0 512 512" style="fill: rgb(255, 182, 193);"><path d="M47.6 300.4L228.3 469.1c7.5 7 17.4 10.9 27.7 10.9s20.2-3.9 27.7-10.9L464.4 300.4c30.4-28.3 47.6-68 47.6-109.5v-5.8c0-69.9-50.5-129.5-119.4-141C347 36.5 300.6 51.4 268 84L256 96 244 84c-32.6-32.6-79-47.5-124.6-39.9C50.5 55.6 0 115.2 0 185.1v5.8c0 41.5 17.2 81.2 47.6 109.5z"/></svg>
          &nbsp;<nobr>{{ format(item.createdTs) }}</nobr> 
            <!-- | {{ items.length - index }} -->
          </div>
          <!-- <div>~~~~~~~~~~~~~~~~~~~</div> -->
          <br>
          <div v-html="item.content">
          </div>
          <br>
          <div style="display: flex;align-items: center;flex-wrap: wrap">
            <template v-for="res in item.resourceList">
             <img :src="res.externalLink"  style="max-width:  calc(33% - 2px);max-height: calc(33% - 2px);height: calc(33% - 2px);width: calc(33% - 2px);object-fit: cover;border-radius: 4px;margin:1px" >
             </template>
          </div>
          <br>
          <br>
          <br>
        <!-- </template> -->
      </div>
      <a @click="next()" v-show="btn" style="background: transparent;color: #ffb6c1;text-decoration: underline;cursor: pointer;">MORE</a>
      <br>
      <br>
      <br>
    </pre>
  </div>
    <script type="text/javascript">

      var offset = 0;
      var limit = 30;
      const app = Vue.createApp({
        data() {
          return {
            items: [],
            btn: true
          }
        },
        methods: {
          format(times) {
            return format(times);
          },
          next(){
              offset += limit;
              that = this;
              var url = 'https://s.hahaha.cc/api/memosdiary/api/v1/memo?limit='+limit+'&offset='+offset+'&creatorId=1';
              var promise = fetch(url).then(function(response) {
                if (response.status === 200) {
                  return response.json();
                } else {
                  return {}
                }
              });

              promise = promise.then(function(data) {
                //响应的内容
                console.log(data);
                if (data == null || data.length == 0){
                    that.btn = false;
                };
                that.items.push(...data);

              }).
              catch(function(err) {
                console.log(err);
              })
          }
        },
        mounted() {
          that = this;
          var url = 'https://s.hahaha.cc/api/memosdiary/api/v1/memo?limit='+limit+'&offset='+offset+'&creatorId=1';
          var promise = fetch(url).then(function(response) {
            if (response.status === 200) {
              return response.json();
            } else {
              return {}
            }
          });

          promise = promise.then(function(data) {
            console.log(data);
            that.items.push(...data);

          }).
          catch(function(err) {
            console.log(err);
          })
        }
      })

      app.mount('#app');


      function format(timestamp){
        // 创建 Date 对象
        var date = new Date(timestamp*1000);

        // 获取各种时间组件
        var year = date.getFullYear();
        var month = date.getMonth() + 1; // 月份从 0 开始，所以需要加 1
        var day = date.getDate();
        var hours = date.getHours();
        var minutes = date.getMinutes();
        var seconds = date.getSeconds();

        // 格式化时间
        var formattedTime = year + '-' + addLeadingZero(month) + '-' + addLeadingZero(day) + ' ' + addLeadingZero(hours) + ':' + addLeadingZero(minutes) + ':' + addLeadingZero(seconds);

        return formattedTime;
      }

      // 在个位数前添加前导零
      function addLeadingZero(number) {
        return number < 10 ? '0' + number : number;
      }
    </script>
  </body>

</html>