<!doctype html>
<html lang="en">
  <head>
    <title>MICROBLOG.TXT</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <script src="https://unpkg.com/vue@3/dist/vue.global.js">
    </script>
  </head>
  <body>
    <pre id="app" style="word-wrap: break-word;white-space: pre-wrap;display: block;font-family: monospace;margin: 1em 0px;">
      <div>MICRO BLOG.TXT</div>
      <div>==============</div>
      <div>SUPER SIMPLE !</div>
      <br>
      <br>
      <br>
      <div v-for="item,index in items">
        <template  v-if="item.content != '' ">
          <div>
            {{ format(item.createdTs) }} | {{ items.length - index }}
          </div>
          <div>=======================</div>
          <br>
          <div v-html="item.content">
          </div>
          <br>
          <br>
        </template>
      </div>
      <button @click="next()" v-show="btn" style="background: transparent;">NEXT</button>
      <br>
      <br>
      <div>--------------------</div>
      <div>MADE BY HAND BY @韩宇</div>
    </pre>
    <script type="text/javascript">

      var offset = 0;
      var limit = 10;
      const app = Vue.createApp({
        data() {
          return {
            items: [],
            btn: true
          }
        },
        methods: {
          format(times) {
            return format(times);
          },
          next(){
              offset += limit;
              that = this;
              var url = 'https://s.hahaha.cc/api/memostxt/api/v1/memo?limit='+limit+'&offset='+offset+'&creatorId=1';
              var promise = fetch(url).then(function(response) {
                if (response.status === 200) {
                  return response.json();
                } else {
                  return {}
                }
              });

              promise = promise.then(function(data) {
                //响应的内容
                console.log(data);
                if (data == null || data.length == 0){
                    that.btn = false;
                };
                that.items.push(...data);

              }).
              catch(function(err) {
                console.log(err);
              })
          }
        },
        mounted() {
          that = this;
          var url = 'https://s.hahaha.cc/api/memostxt/api/v1/memo?limit='+limit+'&offset='+offset+'&creatorId=1';
          var promise = fetch(url).then(function(response) {
            if (response.status === 200) {
              return response.json();
            } else {
              return {}
            }
          });

          promise = promise.then(function(data) {
            console.log(data);
            that.items.push(...data);

          }).
          catch(function(err) {
            console.log(err);
          })
        }
      })

      app.mount('#app');


      function format(timestamp){
        // 创建 Date 对象
        var date = new Date(timestamp*1000);

        // 获取各种时间组件
        var year = date.getFullYear();
        var month = date.getMonth() + 1; // 月份从 0 开始，所以需要加 1
        var day = date.getDate();
        var hours = date.getHours();
        var minutes = date.getMinutes();
        var seconds = date.getSeconds();

        // 格式化时间
        var formattedTime = year + '-' + addLeadingZero(month) + '-' + addLeadingZero(day) + ' ' + addLeadingZero(hours) + ':' + addLeadingZero(minutes) + ':' + addLeadingZero(seconds);

        return formattedTime;
      }

      // 在个位数前添加前导零
      function addLeadingZero(number) {
        return number < 10 ? '0' + number : number;
      }
    </script>
  </body>

</html>